<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/styles.css">
    <script src="./static/mywebscript.js"></script>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h1 class="center-heading mb-4">NLP - Emotion Detection</h1>
            <div class="p-3">
                <h2 class="mb-3">
                    <label class="form-label">Please enter the text to be analyzed</label>
                    <input type="textarea" class="form-control" id="textToAnalyze">
                </h2>
                <div class="p-3 text-center">
                    <button onclick="RunSentimentAnalysis()" class="btn btn-primary w-100">Run Sentiment Analysis</button>
                </div>
                <h2 class="mb-3">
                    <label class="form-label">Result of Emotion Detection</label>
                </h2>
                <div id="system_response" class="p-3"></div>
            </div>
        </div>
    </div>
</body>
</html>
